commands:
  01_clean_pip_cache:
    command: "pip cache purge || true"
    leader_only: true
    ignoreErrors: true
  02_clean_tmp:
    command: "rm -rf /tmp/* || true"
    leader_only: true
    ignoreErrors: true
  03_clean_old_venv:
    command: "rm -rf /var/app/venv/staging-* || true"
    leader_only: true
    ignoreErrors: true

